@import "kube.scss";

$primary-color-dark:   #303F9F;
$primary-color:        #3F51B5;
$primary-color-light:  #C5CAE9;
$primary-color-text:   #FFFFFF;
$accent-color:         #9E9E9E;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

.button.primary-color-dark {
  // $text-color, $back-color
  @include button(#fff, $primary-color-dark);
}

.primary-color-dark    	{ background: #303F9F; }
.primary-color 			{ background: #3F51B5; }
.primary-color-light   	{ background: #C5CAE9; }
.primary-color-text    	{ color: #FFFFFF; }
.accent-color          	{ background: #9E9E9E; }
.primary-text-color    	{ color: #212121; }
.secondary-text-color  	{ color: #757575; }
.divider-color 			{ border-color: #BDBDBD; }